@import url('https://fonts.googleapis.com/css2?family=Abel&family=Atkinson+Hyperlegible:wght@400;700&display=swap');

body{
    margin: 0;
}

.header{
    display: flex;
    flex-direction: row;
    background: white;
    width: 100%;
    height: 60px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.muzzer-logo{
    display: flex;
    align-self: center;
    background: linear-gradient(90deg, #d81414, #ff8686);
    text-decoration: none;
    margin-left: 20px;
    
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    /*line-height: 16px;*/

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.muzzerlogoresponsive{
    display: none;
    align-self: center;
    background: linear-gradient(90deg, #d81414, #ff8686);
    text-decoration: none;
    margin-left: 20px;
    
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    /*line-height: 16px;*/

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left-header{
    display: flex;
    justify-content: space-between;
}

.header-links{
    display: flex;
    margin-right: 30px
}

.header-links a{
    display: flex;
    align-self: center;
    color: #d81414;
    text-decoration: none;
    margin-left: 30px;
    
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 400;
    font-size: 22.5px;
    line-height: 16px;

    transition: all 0.3s;
}

.header-links a:hover{
    color: #ff8686;
    transition: all 0.3s;
}

.right-links{
    display: flex;
    margin-right: 10px;
}

.right-links a{
    display: flex;
    text-decoration: none;
    align-self: center;
}

.github-link{
    display: flex;
    border: solid 1px #d81414;;
    border-radius: 5px;
}

.github-logo{
    width: 25px;
    height: 25px;
    padding: 5px;
}

.github-button{
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 0;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #d81414;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 16px;
}

.responsiveheader{
    display: none;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, #d81414, #ff8686);
    height: 200px;
    justify-content: space-between;
    padding: 20px;
}

.responsiveheader a{
    display: flex;
    align-self: center;
    color: white;
    text-decoration: none;
    
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 400;
    font-size: 22.5px;
    line-height: 16px;
}



.description{
    align-self: center;
    color: #747373;
    text-align: center;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 400px;
    font-size: 20px;
    margin-top: 0;

    padding: 30px;
}

.links{
    color: #d81414;
    transition: all 0.3s;
    margin-left: 3px;
    margin-right: 3px;
}

.links:hover{
    color:#ff8686;
    transition: all 0.3s;
}

.footer{
    display: flex;
    flex-direction: column;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

.copyrights{
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.muzzer-logo-footer{
    align-self: center;
    background: linear-gradient(90deg, #d81414, #ff8686);
    text-decoration: none;
    margin-top: 50px;
    
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    /*line-height: 16px;*/

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    margin: 60px;
    flex-wrap: wrap;
}

.footer-blocs{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.footer-title{
    color: #424242;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
}

.footer-link{
    color: #747373;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 400px;
    font-size: 20px;
    margin-top: 20px;
    transition: all 0.3s;
}

.footer-link:hover{
    color: #a6a5a5;
    transition: all 0.3s;
}

@media only screen and (max-width: 720px) {
    .header {
        height: 90px;
        justify-content: space-between;
    }

    .muzzer-logo{
        display: none;
    }

    .muzzerlogoresponsive{
        display: flex;
    }

    .header-links{
        display: none;
    }

    .responsiveheader-visible {
        display: flex;
    }

    

    .footer-title{
        font-size: 20px;
    }

    .footer-link{
        font-size: 15px;
    }

    .footer-content{
        width: 200px;
    }
}

@media only screen and (min-width: 720px) {
    .left-header{
        width: 100%;
    }
}